@import "tailwindcss";

@theme {
  /* ## Colors */

  /* ### Primary */

  --color-Dark-Blue: hsl(240, 38%, 20%);
  --color-Grayish-Blue: hsl(240, 18%, 77%);

  /* font */
  --font-Inter: "Inter", sans-serf;
}

/* for screen readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* Added for good measure */
}

/* changing the selection color */
::selection {
  background-color: #e7e5f9;
  color: var(--color-Dark-Blue);
}

body {
  transition: 1s;
}

body.dark {
  background-color: #130e2b;

  ::selection {
    background-color: #c5b0ff;
    color: var(--color-Dark-Blue);
  }

  p {
    color: var(--color-Grayish-Blue);
  }

  strong {
    color: #7a4cf4;
  }

  .user-image {
    box-shadow: 0 30px 80px -10px hsl(245, 50%, 49%);
  }

  main {
    background-image: url("../public/dark-pattern-curve.svg");
  }

  section {
@media (min-width: 600px) {
    margin-left: -20px;
}
    background-image: url("../public/dark-pattern-bg.svg");
  }
}
